.dropdown-cat {
  top: calc(100% - 0.6rem);
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.09);
  right: 0;
  width: 65rem;
  height: 24rem;
  border-radius: 0 7.5rem;
  z-index: 30;
  padding: 3.5rem 4rem 3rem;
}
