.categories-nav {
  background-color: #e0e7ff;
  display: inline-block !important;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  line-height: 24px;
  color: blue;
  font-weight: 600;
  text-decoration: none;
}

// NavBar
header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.header-inner {
  padding: 2.5rem 2.5rem 3rem 2.5rem;
  margin: 0 7rem;
  z-index: 20;
}
.navbar {
  padding: 0 1rem;
}

.navbar-nav {
  max-width: 100%;
  height: 100%;
}

.nav-item {
  width: calc(var(--nav-size) * 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.navbar-down {
  padding-top: 0.85rem;

  & a {
    font-size: 1.3rem;
    font-family: "Faro";
    color: white;
    letter-spacing: 2px;

    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 0.4rem;
      content: "";
      width: 0;
      transition: width 0.35s linear;
      background: #a4d370;
    }
  }
}
.nav-categories {
  & svg {
    color: #a4d370;
    margin: 0;
  }
  &:hover a::after {
    width: 100%;
  }
}
.navbar-up {
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.4px;
  font-weight: 300;
}

.icon-button {
  /*   --button-size: calc(var(--nav-size) * 0.5);
  width: var(--button-size);
  height: var(--button-size); */
  background-color: #a4d370;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3.4rem;
  width: 3.4rem;
  transition: filter 300ms;
  cursor: pointer;

  & svg {
    bottom: 1.5px;
    position: relative;
  }
}

.icon-button:hover {
  filter: brightness(0.9);
}

.nav-dropdown {
  position: absolute;
  top: 55px;
  width: auto;
  height: auto;
  transform: translateX(-45%);
  background-color: var(--bg);
  overflow: hidden;
  box-shadow: 1px 0px 5px #b9bcc1, -4px -4px 15px rgba(255, 255, 255, 0.05);
}

.nav-dropdown > div {
  width: 300px;
  height: 320px;
}
.logo-ss {
  filter: drop-shadow(0 5px 5px rgba(26, 25, 25, 0.801));
}
.dropdown-line {
  /*   margin: 10px 0 20px;
   */
  height: 1px;
  background: #ededed;
  margin: 10px 25px 0;
}

.nav-dropdown a {
  font-size: 0.8rem;
  color: #5d8a2d;
  text-decoration: none;
  font-weight: 500;
}
.nav-dropdown font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

form div:first-child {
  margin: 25px 25px 0;
}

.nav-dropdown label {
  font-weight: 500;
  color: #5f5f5f;
  font-size: 0.95rem;
}
.nav-dropdown h1 {
  margin: 15px 25px 0;
  font-size: 1rem;
  font-weight: 300;
}
.nav-menu-item {
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: 0.5rem;
}

.nav-menu-item:hover {
  background-color: var(--bg-accent);
}

.icon-right {
  margin-left: auto;
}

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}
.menu-primary-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}
.menu-primary-exit {
  position: absolute;
}
.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all var(--speed) ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all var(--speed) ease;
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}
