#carritoNumero {
        position: absolute;
        color: white;
        right: 19px;
        top: 18px;
        font-size: 10px;
        background: red;
        border-radius: 20%;
        padding: 3px;
}