.itemBody h3 {
  font-size: 1rem;
}

.itemBody span {
  font-size: 0.9rem;
  color: green;
  font-weight: bold;
}

.itemBody {
  font-size: 0.8rem;
}
.itemImg {
  max-width: 100%;
}

.item-all {
  border-radius: 17px;
  background: #e3e4e5;
  box-shadow: 5px 5px 10px #d1d2d3, -5px -5px 10px #f5f6f7;
}
