
#listContainer {
  height: 90vh;
  width: 100%;
}

#itemCountContainer {

  height: 150px;
  width: 225px;
  background-color: rgb(247,247,247);

}
nav {
  height: 10vh;

}

button {
  border: none;
  color: blue;
}

#buttonCount{
  border: 1px solid #d3d3d3;
  padding: 4px 0;
}

p {
  font-size: 15px;
}

button + p {
  font-weight: bold;
}

#buttonCount + p {
  font-size: 10px;
  position: absolute;
  top: 35px;
}